.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ececec;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.75)),
    url("../img/bg-banner.jpg");
  height: 300px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
}

.bannerPhotographer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.75)),
    url("../img/bg-banner.jpg");
  height: 250px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
}

.banner h1 {
  padding: 0;
  margin: 0;
}

.innerWrap {
  padding-top: 20px;
  width: 75vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  gap: 50px;
}

.innerWrapPhotographer {
  padding-top: 10px;
  width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  padding: 30px;
}

.photographerContainer {
  display: flex;
  flex-direction: row;
}

.textArea {
  width: 80%;
  padding-right: 25px;
}

.info {
  width: 20%;
  border: solid 1px rgb(202, 202, 202);
  border-radius: 0.3em;

  color: blue;
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  h6 {
    color: black;
    font-size: 18px;
  }
  a {
    padding-bottom: 10px;
  }
}

.selectContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 2px;
  padding-bottom: 20px;
  text-align: center;
}

.selectContainer input {
  background-color: rgb(93, 167, 167);
  border: 1px solid rgb(52, 94, 94);
  color: black;
}

.header {
  border-bottom: solid 1px rgb(201, 201, 201);
  padding-bottom: 30px;
  h3 {
    font-size: 36px;
  }
  h5 {
    font-size: 24px;
    font-weight: 300;
  }
}

.bio {
  // border-bottom: solid 1px rgb(201, 201, 201);
  padding-bottom: 30px;
  h6 {
    font-size: 18px;
    font-weight: 300;
  }
  h5 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 300;
  }
  h4 {
    font-weight: 500;
    padding-top: 30px;
  }
}

.links {
  color: blue;
}

.galleryPreview {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.additionalDetails {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;
  h5 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
  }
}

.additionalDetails h5 {
  padding-top: 10px;
}

.additionalDetails ul {
  padding: 0;
  list-style: none;
}

/* .additionalDetails li {
  text-decoration: none;
} */
